// Colors
$primary: #76b8e8;
$primary-dark: #5c8db6;
$secondary: #edf8ff;

$text: #5f7285;
$title: #4b6480;

$white: #ffffff;

// Radius
$radius-sm: 12px;
$radius-md: 20px;
$radius-lg: 32px;

// Shadows
$shadow-soft: 0 15px 40px rgba(92, 141, 182, .12);
$shadow-card: 0 25px 60px rgba(92, 141, 182, .18);

// Transitions
$transition: .35s ease;